@charset "UTF-8";
@use 'reset';
@use 'parts';
@use 'front';
@use 'works';

/*
Georgia
font-family: Georgia,Times,Times New Roman,serif;
sawarabi
font-family: "Sawarabi Mincho", serif;
inter
font-family: "Inter", sans-serif;
noto sans jp
font-family: "Noto Sans JP", sans-serif;
*/